<%=form_tag('/add') do%>
  <label for='product'>Product:</label>
  <%=text_field_tag 'product', nil,  placeholder: 'Milk'%>
  <%=submit_tag "add to cart"%>
<%end%>

<h2>Cart:</h2>
<%if !cart.nil?%>
  <%cart.each do |product|%>
    <%=product%><br>
  <%end%>
<%else%>
  <p>Your cart is empty.</p>
<%end%>
